flask==2.3.3
flask-cors==4.0.0
flask-limiter==3.5.0
flask-jwt-extended==4.6.0
werkzeug==2.3.7

gunicorn

numpy==1.24.4
scikit-learn==1.3.2
scipy==1.11.4
pandas==2.0.3
joblib

tldextract
whois
requests
rapidfuzz

pymongo==4.6.1
bcrypt
python-dotenv

Pillow
groq